In [1]:
import pandas as pd

In [2]:
appen_train = pd.read_csv('../data/external/appen/disaster_response_messages_training.csv') 
appen_valid = pd.read_csv('../data/external/appen/disaster_response_messages_validation.csv') 
appen_test = pd.read_csv('../data/external/appen/disaster_response_messages_test.csv')

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
appen_train.shape

(21046, 42)

In [10]:
appen_test.shape

(2629, 42)

In [11]:
appen_valid.shape

(2573, 42)

In [12]:
21046+2629+2573

26248

In [16]:
appen_dataset = pd.concat([appen_train, appen_valid, appen_test]).sort_values('id', ascending=True)
appen_dataset

,id,split,message,original,genre,related,PII,request,offer,aid_related,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,train,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,train,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,0,1,...,0,0,1,0,1,0,0,0,0,0
0,8,validation,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,9,test,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,12,train,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21041,30261,train,The training demonstrated how to enhance micro...,NaN,news,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21042,30262,train,A suitable candidate has been selected and OCH...,NaN,news,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21043,30263,train,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21044,30264,train,"Some 2,000 women protesting against the conduc...",NaN,news,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21045,30265,train,A radical shift in thinking came about as a re...,NaN,news,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
appen_dataset.columns

Index(['id', 'split', 'message', 'original', 'genre', 'related', 'PII',
       'request', 'offer', 'aid_related', 'medical_help', 'medical_products',
       'search_and_rescue', 'security', 'military', 'child_alone', 'water',
       'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees',
       'death', 'other_aid', 'infrastructure_related', 'transport',
       'buildings', 'electricity', 'tools', 'hospitals', 'shops',
       'aid_centers', 'other_infrastructure', 'weather_related', 'floods',
       'storm', 'fire', 'earthquake', 'cold', 'other_weather',
       'direct_report'],
      dtype='object')

In [19]:
kaggle_train = pd.read_csv('../data/external/kaggle/train.csv')
kaggle_test = pd.read_csv('../data/external/kaggle/test.csv')

In [51]:
kaggle_train[kaggle_train['text'].str.startswith('Looking')]

,id,keyword,location,text,target
1525,2205,catastrophic,"Leeds, England",Looking for a #Defendant #Catastrophic Injury ...,0

In [42]:
kaggle_train['text']

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [29]:
kaggle_train.merge(appen_dataset, left_on='text', right_on='message')

Empty DataFrame
Columns: [id_x, keyword, location, text, target, id_y, split, message, original, genre, related, PII, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 47 columns]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [36]:
sum(appen_dataset['message']==kaggle_train['text'][5])

0